* {box-sizing: border-box;}

body, html {

    background-color: black;
    
}
 
.bg-img {
  
  background-image: url("pexels-photo-2034209.jpeg");
width:100%;
height:100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
}


.container {
  position: absolute;
 
  width: 100%;
  margin-top: 30px;
}


.topnav {
overflow: hidden;
  background:radial-gradient(orange, yellow, red);
  border:solid black;
}


.topnav a {
  float: left;
  color: #360707;
  text-align: center;
  text-decoration: none;

  font-size: 55px;
  font-family:monospace;
  font-style: italic;
 font-weight: 900;
 padding-left: 190px;
 padding-right: 190px;
 margin:0 auto;

}

.topnav a:hover {
  background-color: #e92020;
  color: rgb(128, 14, 14);

}



h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 150px;
  font-style: italic;
  font-weight:900;
  font-family:monospace;
  margin: 0 auto;
}







  a
   {color:red;}

   

  
    
 


    img:active {transform:scale(2.5);
    object-fit:cover;

}


      .osandri 
      {background:radial-gradient( rgb(206, 88, 9), rgb(141, 6, 6));
      color:black;
      font-size: 70px;
      font-family:monospace;
      justify-content: center;
      align-items:center;
      justify-content: left;
      font-weight: bolder;
      font-style: italic;
      margin:100px 20px 100px 20px;
      padding:20px 20px 20px 20px;
      height:80%;
    }

    .porodica {width:400;
    height:500px;
    margin:0 auto;
    border:solid red;
    display:flex;
    top:0;
    margin-right:200px;
    margin-top:-100px;
    margin-bottom:20px;
    box-shadow: 30px 30px 30px 0px black;
    border-radius: 10%;
  

}

.kontakt {columns:4; 
   border: solid red;
   margin:0 auto;
   margin-top: 13%;
   background:radial-gradient(orange, red);
   display:flex;
   justify-content: center;
  
   


}



.linkovi {
 width:400px;
 height:400px;
  border:solid 5px rgb(19, 12, 1);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin:0 auto;
  display:flex;
  color:black;
  background:radial-gradient(orange, red);
  font-size: 60px;
  justify-self: center;
  font-weight: bolder;
  vertical-align: middle;
  justify-content: center;

  





}

.linkovi a {color:black;}

.linkovi a:hover {color:red;}


.sz {font-size:30px;}



.row {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px;
  padding-left: 130px;
  margin: 0 auto;
  background: radial-gradient(rgb(241, 81, 53), red, rgb(24, 1, 1));
  gap:25px;
  

}

.row img { border:solid black;
  box-shadow: 25px 25px 25px 0px black;
  gap:15px;
}


.column {
  flex: 22%;
  max-width: 22%;
  padding: 4px 4px;
  gap:15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5%;
  gap:15px;
}



@media  screen and (max-width: 450px) {
  .column {
    display:grid;
    flex:100%;
    justify-content: center;
    max-width:100%;
  }
}

@media  screen and (max-width: 450px) {
  .kontakt  {
    display:grid;
    flex:100%;
    justify-content:center;
    max-width:100%;
  }
}



@media screen and (max-width:450px) {
  .bg-img background-image {
    object-fit: cover;
    width:100%;
    margin: 0 auto;
  


  }
}

@media screen and (max-width:450px) {

  .osandri {width:100%;
    display:grid;
    position: absolute;

    
  }
}

@media  screen and (max-width: 450px) {
  .topnav a{

padding: 2px;

    
    font-size: 25px;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media  screen and (max-width: 850px) {
  .topnav a{

padding: 2px;

    
    font-size: 25px;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media  screen and (max-width: 450px) {
  h1 {
    
    font-size: 70px;
  }
}
@media  screen and (max-width: 850px) {
  h1 {font-size: 70px;
    
    position: relative;
    top:50%;
    
    

  }
}

